@model IEnumerable<Fitness.Models.Workoutplan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTranier.cshtml";
}

 
<link rel="stylesheet" href="~/css/TrenarTable.css">
<div class="content-wrapper" style="margin-top:100px">
     <div class="row">
         <div class="card-body"> 


<div class="container mt-4">
    <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Plan Count week : @item.Numberofweek</h5>
                        <p class="card-text">Goals : @item.Goals</p>
                        <p class="card-text">Exercise  Day 1 : @item.Day1</p>
                        <p class="card-text">Exercise  Day 2 : @item.Day2</p>
                        <p class="card-text">Exercise  Day 3 : @item.Day3</p>
                        <p class="card-text">Exercise  Day 4 : @item.Day4</p>
                        <p class="card-text">Exercise  Day 5 : @item.Day5</p>
                        <p class="card-text">Exercise  Day 6 : @item.Day6</p>
                        <p class="card-text">Exercise  Day 7 : @item.Day7</p>
                    </div>
                    <div class="card-footer text-muted">
                                    
                                        <a asp-action="UpdatePlan" asp-route-id="@item.Idwop" class="btn btn-primary btn-sm">Update</a>
                                   

                                      <form asp-action="DeleteConfirmed" asp-route-id="@item.Idwop" method="post" style="display:inline;">
                                          @Html.AntiForgeryToken()
                                          <button type="submit"  class="btn btn-danger btn-sm">Delete</button>
                                      </form>

                    </div>
                </div>
            </div>
            }
    </div>
</div>


       </div>
    </div>
</div>
 
