﻿

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<title>FitPhysique - Free Fitness/Gym HTML CSS Template by TemplatesJungle.com</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="~/DesignHomePage/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="~/DesignHomePage/style.css">
	<link rel="stylesheet" type="text/css" href="~/DesignHomePage/fonts/icomoon/icomoon.css">


	<link rel="stylesheet" type="text/css" href="~/DesignHomePage/slick/slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="~/DesignHomePage/slick/slick/slick-theme.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@400;700&display=swap"
		  rel="stylesheet">


</head>


<body>
	<div id="body-wrapper">

		<header id="header" class="bg-black">
			<div class="container">
				<div class="row">
					<nav class="navbar navbar-expand-lg col-md-12 padding-small">
						<div class="nav-brand">
							<a href="index.html"><img src="~/DesignHomePage/images/logo.png"></a>
						</div>
						<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
								data-target="#slide-navbar-collapse" aria-controls="slide-navbar-collapse"
								aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"><i class="icon icon-navicon"></i></span>
						</button>
						<div class="navbar-collapse collapse text-hover" id="slide-navbar-collapse">
							<ul class="navbar-nav list-inline light text-uppercase">
								<li class="nav-item active"><a asp-action="index" asp-controller="Home" class="navlink">home</a></li>
								<li class="nav-item"><a asp-action="aboutus" asp-controller="Home">about us</a></li>
								<li class="nav-item"><a asp-action="trainers" asp-controller="Home">trainers</a></li>
								<li class="nav-item"><a asp-action="Class" asp-controller="Home">class</a></li>
								<li class="nav-item"><a asp-action="blog" asp-controller="Home">blog</a></li>
								<li class="nav-item"><a asp-action="contactus" asp-controller="Home">contact us</a></li>

								@* 	<li class="nav-item"><a href="https://templatesjungle.gumroad.com/l/fitphysique-free-responsive-html-template" target="_blank" style="color:#d4000d ;">LogIn</a></li> *@
							</ul>
						</div><!--navbar-collapse-->
						<div class="action-menu">
							<div class="searchbar">
								<a href="#" class="search-button search-toggle" data-selector=".navbar">
									<i class="icon icon-search"></i>
								</a>
								<form role="search" method="get" class="search-box" action="">
									<input class="search-field text search-input" placeholder="Search" type="search">
								</form>
							</div>
							<div class="navbar-collapse collapse text-hover" id="slide-navbar-collapse">

								<ul class="navbar-nav list-inline light text-uppercase">
									<li class="dropdown">
										<a class="dropbtn">Me <iconify-icon icon="iconamoon:arrow-down-2-fill"></iconify-icon> </a>

										<div class="dropdown-content">

											 @{

												var UserID = Convert.ToDecimal(Context.Session.GetInt32("UserID"));
											 	var UserIsEnter = Context.Session.GetInt32("UserIsEnter");
											 	var UserRoleID = Context.Session.GetInt32("UserRoleID");

											 }

											 @if (UserIsEnter == 1 && UserID != null)
											 {
												<a href="@Url.Action("Details", "ProfileUser", new { id = UserID })" class="drop-item" style="color:#d4000d;">Profile</a>
											 	<a href="@Url.Action("LoginAndRegister", "Auth")" class="drop-item" style="color:#d4000d;">Logout</a>
											 }
											 else
											 {
											 	<a href="@Url.Action("LoginAndRegister", "Auth")" target="_blank" style="color:#d4000d;">LogIn</a>
											 }

										</div>
									</li>


								</ul>
							</div>
							<!--navbar-collapse--
								</div>
							</div><!--action-menu-->
					</nav>
				</div>
			</div>
		</header>

		<div>
        @RenderBody()
    </div>

	</div><!--body-wrapper-->
	<footer id="footer" class="bg-black">
		<div class="container">
			<div class="row">
				<div class="wrap flex-container">

					<div class="col-md-3 light mb-5">
						<div class="row">
							<img src="~/DesignHomePage/images/logo.png" class="mb-3">
							<p>Fitphysical Pvt Ltd is for build and fitness body sed do eiusmod,adipisicing elit</p>
							<div class="address">
								<ul class="list-unstyled">
									 <li>
										
								
									@* 		<i class="icon icon-map-marker colored"></i>
										@ViewBag.infowebsite.Location
									</li>
									<li><i class="icon icon-phone colored"></i>@ViewBag.infowebsite.Phone</li>
									<li>
										<i class="icon icon-envelope colored"></i>
										<div class="mail-address">
											<a href="#" class="pr-10">@ViewBag.infowebsite.Email</a>
											
											
										</div> *@
									
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-3 recent-post mb-5">
						<h4 class="widget-title mb-3">recent blog posts</h4>
						<div class="widget-content">
							<ul class="light">
								<li class="border-bottom pb-10 mb-3">
									<h5>
										<a href="">How to Be Motivated For All Exercise</a>
									</h5>
									<span class="meta-date">September 21,2020</span>
								</li>
								<li class="border-bottom pb-10 mb-3">
									<h5>
										<a href="">How to Be Motivated For All Exercise</a>
									</h5>
									<span class="meta-date">September 21,2020</span>
								</li>
								<li>
									<h5>
										<a href="">How to Be Motivated For All Exercise</a>
									</h5>
									<span class="meta-date">September 21,2020</span>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 widget-gallery mb-5">
						<div class="row">
							<h4 class="widget-title mb-3">gallery</h4>
							<div class="widget-content">
								<ul class="d-flex d-flex-flow">
									<li class="mb-2 mr-2">
								@* 		@{

											var profiles = ViewBag.Profile as List<Profile>;


											
										@if (profiles != null && profiles.Any())
										{
											@foreach (var profile in profiles)
											{
											<li class="mb-2 mr-2">
												<a href="#"><img src="@Url.Content("~/images/" + profile.Photo)" alt="gym" class="sgalleryImg"></a>
											</li>
											}
										}
										else
										{
										<p>No profiles available.</p>
										}
 *@

									</li>
								</ul>

							</div>
						</div>
					</div>

					<div class="col-md-3 widget-newsletter">
						<div class="row">
							<h4 class="widget-title">Newsletter</h4>
							<div class="widget-content light">
								<p>
									By subscribing us you will get discount offers and our tips for your fitness for
									good results.
								</p>
								<div class="newsletter-button d-flex align-items-center light">
									<input type="text" name="Subscribe" placeholder="Your Email Address">
									<button class="hvr-shutter-in-horizontal m-0">Send</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</footer>

	<div class="footer-bottom bg-black padding-small">
		<div class="container">
			<div class="row">
				<div class="wrap flex-container">
					<div class="copyright">
						<p class="mb-0">
							© Copyright 2022 FitPhysique.
						</p>
					</div>
					<div class="social-links mt-3">
						<ul class="list-unstyled d-flex">
							<li class="mr-3"><a href="#"><i class="icon icon-facebook m-1"></i></a></li>
							<li class="mr-3"><a href="#"><i class="icon icon-twitter m-1"></i></a></li>
							<li><a href="#"><i class="icon icon-youtube m-1"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="~/DesignHomePage/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="~/DesignHomePage/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="~/DesignHomePage/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/DesignHomePage/js/hc-sticky.js"></script>

	<script type="text/javascript" src="~/DesignHomePage/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="~/DesignHomePage/slick/slick/slick.min.js"></script>
	<script type="text/javascript" src="~/DesignHomePage/js/script.js"></script>
	<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
