@model IEnumerable<Fitness.Models.Testimonial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tprofile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tprofile.Profileid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Testimoid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Testimoid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Testimoid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
