@model IEnumerable<Fitness.Models.Subscription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Countweeks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nameplan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SidwopNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Countweeks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nameplan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SidwopNavigation.Idwop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Subscrid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Subscrid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Subscrid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
