@model Fitness.Models.Workoutplan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Workoutplan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numberofweek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numberofweek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day7)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idwop">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
