@model Fitness.Models.Profile

@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper" style="margin-top: 100px;">
    <div class="card">
        <div class="card-header">
            <h4>Edit Profile</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Profile ID (Hidden) -->
                <input type="hidden" asp-for="Profileid" />

                <!-- Name -->
                <div class="form-group row">
                    <label for="Name" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Name)</label>
                    <div class="col-sm-9">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <!-- Last Name -->
                <div class="form-group row">
                    <label for="Lname" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Lname)</label>
                    <div class="col-sm-9">
                        <input asp-for="Lname" class="form-control" />
                        <span asp-validation-for="Lname" class="text-danger"></span>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group row">
                    <label for="Email" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Email)</label>
                    <div class="col-sm-9">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <!-- Username -->
                <div class="form-group row">
                    <label for="Username" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Username)</label>
                    <div class="col-sm-9">
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group row">
                    <label for="Userpassword" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Userpassword)</label>
                    <div class="col-sm-9">
                        <input asp-for="Userpassword" type="password" class="form-control" />
                        <span asp-validation-for="Userpassword" class="text-danger"></span>
                    </div>
                </div>

                <!-- Photo -->
                <div class="form-group row">
                    <label for="ImageFile" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Photo)</label>
                    <div class="col-sm-9">
                        <input asp-for="ImageFile" type="file" class="form-control" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>

                <!-- Date of Birth -->
                <div class="form-group row">
                    <label for="DateOfBirth" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.DateOfBirth)</label>
                    <div class="col-sm-9">
                        <input asp-for="DateOfBirth" class="form-control" type="date" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>

                <!-- Role -->
                <div class="form-group row">
                    <label for="Roleid" class="col-sm-3 col-form-label">@Html.DisplayNameFor(model => model.Role)</label>
                    <div class="col-sm-9">
                        <select asp-for="Roleid" class="form-control" asp-items="@ViewBag.Roleid"></select>
                        <span asp-validation-for="Roleid" class="text-danger"></span>
                    </div>
                </div>


                <!-- Submit Button -->
                <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        @{
                            var actionName = (Model.Role.Roleid == 2) ? "listProfileT" : "listProfileM";
                        }
                        <a asp-action="@actionName" class="btn btn-secondary">Back to List</a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
